<div id="container">
    <div ng2-carouselamos class="slides-wrapper"
        [items]="items"
        [width]="900"
        [$prev]="prev"
        [$next]="next"
        [$item]="item">
    </div>

    <ng-template #prev>
        <img src="https://cdn0.iconfinder.com/data/icons/basic-ui-elements-round/700/01_arrow_left-64.png" id="left">
    </ng-template>
    

    <ng-template #next>
        <img src="https://cdn0.iconfinder.com/data/icons/basic-ui-elements-round/700/01_arrow_right-64.png" id="right">
    </ng-template>

    <ng-template #item let-item let-i="index">
        <div class="items">
            <img src="{{ item.name }}">
        </div>
    </ng-template>
    
</div>
<app-header></app-header>
<app-todo></app-todo>