<div class="btn-container">
  <button (click)="showList()">Lista</button>
  <button (click)="showGrid()">Grid</button>
</div>
<div class="new-task-container">
  <input [(ngModel)]="newTask" />
  <button (click)="addNewTask()">Dodaj</button>
  <!--Search: <input type="text" placeholder="Search..." ng-model="searchText" /> -->
</div>
<div class="todo-tasks">
  <app-list *ngIf="view" [source]="todoTasks" (removeItem)="removeItemFromArray($event)"></app-list>
  <app-grid *ngIf="!view" [source]="todoTasks" (removeItem)="removeItemFromArray($event)"></app-grid>
</div>
